<h1>Create a New Skill</h1>

<%= form_tag '/skills', method: :post do %>
  <div>
    <%= label_tag :skill_name %>
    <%= text_field_tag :skill_name %>

    <%= submit_tag 'Create' %>
  </div>
<% end %>